# Firebase Functions Environment Variables
APP_NAME=IASD Mangueiras API
APP_ENV=development

# YouTube Data API v3
YOUTUBE_API_KEY=
YOUTUBE_CHANNEL_ID=UC4x7BBBm6Ds1JZYit0yMhuQ
YOUTUBE_CACHE_TTL_SECONDS=1800

# Playlists
YOUTUBE_PRESENTE7_PLAYLIST_ID=PLNgTlCgGyS2GLFNcIWz1_CuCYJOhWOe28
YOUTUBE_SABADO_PLAYLIST_ID=PLNgTlCgGyS2GD4T7wfkl7H8a8PCOjBCQU
YOUTUBE_DOMINGO_PLAYLIST_ID=PLNgTlCgGyS2FF1Q6uHqZkNKLwij1xKO2T
YOUTUBE_QUARTA_PLAYLIST_ID=PLNgTlCgGyS2GRDfZ364omUABt5_2sUoTY

# Telegram Notifications
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
