# Ambiente e Debug (Zero-Trust)
APP_ENV=development
DEBUG=false

# YouTube Data API v3 (Inserir chave via Secrets Manager / Vault / CI/CD)
YOUTUBE_API_KEY=
YOUTUBE_CHANNEL_ID=UC4x7BBBm6Ds1JZYit0yMhuQ
YOUTUBE_CACHE_TTL_SECONDS=1800

